/* .vitepress/theme/style/vp-code-title.css */

/* 整体容器样式 */
.vp-code-block-title {
  margin-bottom: 16px;
  border-radius: 6px;
  overflow: hidden;
}

/* 标题栏样式 */
.vp-code-block-title .vp-code-block-title-bar {
  color: var(--vp-c-text-1);
  font-size: 14px;
  font-weight: 500;
  padding: 8px 12px;
  background-color: var(--vp-code-block-bg);
  border-bottom: 1px solid var(--vp-code-block-divider-color);
}

/* 代码块标题：修正边距 */
.vp-code-block-title div[class*="language-"].vp-adaptive-theme.line-numbers-mode {
  border-radius: 0 0 6px 6px;
  margin-bottom: 0px;
}

/* 代码块标题：修正行号位置 */
.vp-code-block-title .line-numbers-mode .line-numbers-wrapper {
  padding-top: 0;
}

/* 代码块标题（无行号）：修正边距 */
.vp-code-block-title div[class*="language-"].vp-adaptive-theme {
  border-radius: 0 0 6px 6px;
}